<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cordova.plugin.Info-Plist" version="0.0.1">
    <name>Info-Plist</name>

    <description>An IOS Cordova plugin</description>
    <license>NOS</license>
	
    <engines>
        <engine name="cordova-ios" version=">=6.2.0" />
    </engines>
	
    <js-module name="Info-Plist" src="www/Info-Plist.js">
    	<clobbers target="Info-Plist" />
    </js-module>
	
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Info-Plist">
                <param name="ios-package" value="Info-Plist"/>
		<param name="onload" value="true" />
            </feature>
        </config-file>

        <preference name="GEOLOCATION_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$GEOLOCATION_USAGE_DESCRIPTION</string>
        </config-file>
	    
    </platform>
</plugin>

